<div id="sidebar">
    <div class="logo">
        <img src="/images/logo-solo.png">
    </div>
    <div class="menu">
        <a class="menu-btn" href="/panel">
            <span class="iconify icon" data-icon="material-symbols:list-alt-add"></span>
            <span class="title">Konsultacje</span>
        </a>
        <a class="menu-btn active" href="/panel/my-consultations">
            <span class="iconify icon" data-icon="material-symbols:list-alt"></span>
            <span class="title">Moje konsultacje</span>
        </a>
        <!-- <button class="menu-btn" type="button">
            <span class="iconify icon" data-icon="material-symbols:list-alt-add-sharp"></span>
            <span class="title">Coś tam</span>
        </button> -->
    </div>
</div>